# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
env/

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
build/
dist/

# Streamlit
.streamlit/secrets.toml